header {
    height: 6em;
}
main {
    background-color: rgb(153, 79, 221);
}
footer {
    background-color: rgb(160, 225, 247);
    height: 13em;
    bottom: 0;
    width: 100%;
}

#logo{
    height: 3em;
    width: 3em;
}

.container{
    display:flex;
    align-items: center;
}

#animal_img{
    width:20em;
    height:20em;
}

#berglöwe{
    width: 11em;
    height: 11em;
}

#table{
    display: flex;
    justify-content: flex-end;
}

#worker_img{
    width: 10em;
    height: 10em;
}